*{
	padding: 0px 0px;
	margin: 0px 0px;
}
body{
	font-family: 'Oswald', sans-serif;
}
h1,h2,h3,h4,h5{
	font-family: 'Oswald', sans-serif;
}
a{
	text-decoration: none;
}
ul{
	padding-left: 0px;
	margin: 0px ;
}
ul li{
	list-style: none;
}
.no-padding{
	padding: 0px 0px;
	margin: 0px 0px;
}
/*header section css start*/
.header-section{
	width: 100%;
	background: url(../images/header-bg.png) left center no-repeat;
	background-size: cover;
}
.header-section .navbar-brand img{
	width: 100%;
}
.header-section .bg-light {
    background-color: #fbfbf5 !important;
}
.header-section .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #32455f;
    border-bottom: 2px solid #32455f;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}
.header-section .navbar-light .navbar-nav .nav-link {
    color: #32455f;
    font-size: 16px;
    padding: 0px 30px;
    font-weight: 300;
    letter-spacing: 1px;
}
.header-section .navbar-light .navbar-nav .nav-link:hover{
	border-bottom: 2px solid #32455f;
    width: 100%;
    font-weight: 400;
    cursor: pointer;
}
.header-section .d-flex .input-group input {
    border-radius: 30px;
    border-right: none;
    font-size: 14px;
    font-weight: 300;
    padding: 0px 0px 0px 10px;
    letter-spacing: 1px;
}
.header-section .d-flex .input-group span {
    background: none;
    border-left: none;
    border-radius: 30px;
    font-size: 13px;
    color: #32455f;
}
.header-section .header-inner {
    padding: 122px 0px 260px 0px;
    width: 100%;
}
.header-section .header-inner h1 {
    color: #32455f;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 1px;
    padding-left: 31px;
}
.header-section .header-inner h2 {
    color: #32455f;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px;
    padding-left: 31px;
}
/*header section css end*/
/*hike recover section css start*/
.recover-section{
    width: 100%;
    padding: 10px 0px 60px 0px;
}
.recover-section .recover-title-text {
    width: 100%;
    padding: 65px 0px 60px 0px;
}
.recover-section .recover-title-text h1 {
    color: #32455f;
    font-size: 38px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 1px;
}
.recover-section .recover-title-text .bdr {
    width: 6%;
    border: 3px solid #32455f;
    margin: 20px 0px 0px 0px;
}
.recover-section .recover-title-logo{
    position: relative;
    width: 100%;
    height: 100%;
}
.recover-section .recover-title-logo .recover-title-logo-1 {
    position: absolute;
    top: 27%;
    right: -96%;
}
.recover-section .recover-title-logo .recover-title-logo-1 ul li {
    color: #32455f;
    font-size: 40px;
    line-height: 51px;
}
.recover-section .recover-item {
    width: 100%;
    box-shadow: 0px 7px 14px #ccc;
    padding: 30px 20px;
}
.recover-section .recover-item h2 {
    font-weight: 700;
    color: #32455f;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.recover-section .recover-item p {
    color: #32455f;
    font-size: 17px;
    font-weight: 300;
    margin: 6px 0px 0px 0px;
    letter-spacing: 1px;
}
.recover-section .recover-item .bdr {
    width: 100%;
    border: 1px solid #32455f;
    margin: 20px 0px 20px 0px;
}
.recover-section .recover-item h4 {
    color: #32455f;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px 0px 0px 0px ;
}
.recover-section .recover-item .dot-img {
    width: 100%;
}
.recover-section .recover-item h5{
    color: #32455f;
}
.recover-section .recover-item .logo-img{
    width: 100%;
}
.recover-section .recover-item .recover-title-logo-2 ul {
    position: absolute;
    bottom: 17%;
    right: 4%;
}
.recover-section .recover-item .recover-title-logo-2 ul li {
    color: #32455f;
    font-size: 40px;
    line-height: 51px;
}
.recover-section .recover-item-logo{
    position: relative;
    width: 100%;
}
.recover-section .recover-item-logo .recover-item-logo-2 {
    position: absolute;
    bottom: 0%;
    right: -12%;
}
.recover-section .recover-item-logo .recover-item-logo-2 ul li{
    color: #32455f;
    font-size: 40px;
    line-height: 51px;
}
/*hike recover section css end*/
/*big bend section css start*/
.big-bend-section{
    width: 100%;
    background: url(../images/big-bend-bg.png) left center no-repeat;
    background-size: cover;
    padding: 20px 20px;
}
.big-bend-section .big-bend-left .big-logo-1 {
    float: right;
    margin-right: 74px;
}
.big-bend-section .big-bend-left {
    width: 100%;
    padding: 115px 0px 100px 0px;
}
.big-bend-section .big-bend-left h1 {
    color: #fff;
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 6px;
    line-height: 80px;
    text-transform: uppercase;
    padding: 31px 0px 0px 31px;
}
.big-bend-section .big-bend-left p {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0px;
    padding: 10px 0px 0px 36px;
}
.big-bend-section .big-bend-right {
    width: 100%;
    text-align: right;
    padding-top: 340px;
}
.big-bend-section .big-bend-right h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 3px;
}
.big-bend-section .big-bend-right .bdr {
    width: 33%;
    border: 3px solid #fff;
    float: right;
    margin: 7px 0px 28px 31px;
}
.big-bend-section .big-bend-right a {
    color: #32455f;
    background: #fff;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    padding: 3px 23px;
    border: 1px solid #fff;
    border-radius: 30px;
}
.big-bend-section .big-bend-right a:hover {
    cursor: pointer;
    background: #224360;
    color: #fff;
    transition: .3s linear;
}
/*big bend section css end*/
/*Rock climbing section css start*/
.rock-climbing-section {
    width: 100%;
    background: url(../images/rock-climbing-bg.png) left center no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}
.rock-climbing-section .rock-climbing-left {
    width: 100%;
    padding: 75px 0px 165px 0px;
}
.rock-climbing-section .rock-climbing-left .rock-logo-1 {
    float: right;
    margin-right: 120px;
}
.rock-climbing-section .rock-climbing-left h1 {
    color: #32455f;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 500;
    padding: 25px 0px 0px 40px;
    letter-spacing: 3px;
    margin: 0px;
}
.rock-climbing-section .rock-climbing-left h2 {
    color: #32455f;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 5px;
    padding: 45px 0px 0px 40px;
}
.rock-climbing-section .rock-climbing-left p {
    color: #32455f;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 34px;
    padding-left: 40px;
}
.rock-climbing-section .rock-climbing-left .bdr {
    width: 100%;
    border: 1px solid #689fea;
    margin: 20px 0px 20px 40px;
}
.rock-climbing-section .rock-climbing-left h3 {
    color: #32455f;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 35px;
    padding-left: 40px;
}
.rock-climbing-section .rock-climbing-right {
    width: 100%;
    text-align: left;
    padding: 100px 0px 0px 0px;
    position: relative;
}
.rock-climbing-section .rock-climbing-right .rock-right-logo-down {
    float: left;
}
.rock-climbing-section .rock-climbing-right h2 {
    color: #32455f;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 37px;
}
.rock-climbing-section .rock-climbing-right h3 {
    color: #32455f;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    padding-left: 37px;
}
.rock-climbing-section .rock-climbing-right h4 {
    color: #32455f;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.rock-climbing-section .rock-climbing-logo {
    position: absolute;
    top: 58%;
    right: -20%;
}
.rock-climbing-section .rock-climbing-logo ul li{
    color: #32455f;
    font-size: 14px;
 }
/*Rock climbing section css end*/
/*places to visit section css start*/
.places-visit-section{
    width: 100%;
}
.places-visit-section .places-visit-title{
    width: 100%;
    padding: 70px 0px 30px 0px;
}
.places-visit-section .places-visit-title .places-visit-logo-up {
    float: right;
    margin-right: 38px;
}
.places-visit-section .places-visit-title h1 {
    color: #32455f;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    margin: 0px;
    padding: 20px 0px 0px 35px;
}
.places-visit-section .places-visit-item{
    width: 100%;
    padding: 10px 0px 50px 0px;
}
.places-visit-section .places-visit-item img {
    width: 55%;
}
.places-visit-section .places-visit-item h3 {
    color: #32455f;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 30px 0px 5px 0px;
}
.places-visit-section .places-visit-item p {
    color: #32455f;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 1px;
}
.places-visit-section .places-visit-item .bdr{
    width: 100%;
    border: 1px solid #689fea;
}
.places-visit-section .places-visit-item h4 {
    color: #32455f;
    padding: 15px 0px 0px 0px;
    font-size: 16px;
    letter-spacing: 1px;
}
.places-visit-section .places-visit-btn{
    width: 100%;
    text-align: center;
    padding-bottom: 55px;
}
.places-visit-section .places-visit-btn a{
    color: #fff;
    background: #564b67;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    padding: 3px 23px;
    border: 1px solid #fff;
    border-radius: 30px;
}
.places-visit-section .places-visit-btn a:hover {
    cursor: pointer;
    background: #0884f1;
    color: #fff;
    transition: .3s linear;
}
/*places to visit section css end*/
/*Backpackin section css start*/
.backpackin-section{
    width: 100%;
    background: url(../images/backpackin-bg.png) left center no-repeat;
    background-size: cover;
    padding: 20px 20px;
}
.backpackin-section .backpackin-left{
    width: 100%;
    text-align: left;
    padding-top: 340px;
}
.backpackin-section .backpackin-left h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 3px;
}
.backpackin-section .backpackin-left .bdr {
    width: 33%;
    border: 3px solid #fff;
    margin: 7px 0px 28px 0px;
}
.backpackin-section .backpackin-left a {
    color: #32455f;
    background: #fff;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    padding: 3px 23px;
    border: 1px solid #fff;
    border-radius: 30px;
}
.backpackin-section .backpackin-left a:hover{
    cursor: pointer;
    background: #224360;
    color: #fff;
    transition: .3s linear;
}
.backpackin-section .backpackin-right{
    width: 100%;
    text-align: right;
    padding: 115px 0px 100px 0px;
}
.backpackin-section .backpackin-right .backpackin-right-logo-down {
    float: left;
    margin-left: 192px;
}
.backpackin-section .backpackin-right h1 {
    color: #fff;
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
    padding-right: 30px;
}
.backpackin-section .backpackin-right p {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0px;
    padding: 10px 30px 0px 0px;
}
/*Backpackin section css end*/
/*Camping Classes section css start*/
.camping-class-section {
    width: 100%;
    padding: 30px 0px 70px 0px;
}
.camping-class-section .camping-title {
    width: 100%;
    height: 100%;
    padding: 45px 0px 35px 0px;
    position: relative;
}
.camping-class-section .camping-title .camping-class-logo {
    position: absolute;
    top: 27%;
    left: -4%;
}
.camping-class-section .camping-title .camping-class-logo ul li {
    color: #5f6551;
    font-size: 28px;
    line-height: 31px;
}
.camping-class-section .camping-title h1{
    color: #5f6551;
    font-size: 38px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 1px;
}
.camping-class-section .camping-title .bdr {
    width: 5%;
    border: 3px solid #5f6551;
    margin: 20px 0px 0px 0px;
}
.camping-class-section .camping-item{
    width: 100%;
    text-align: center;
}
.camping-class-section .camping-item h3 {
    letter-spacing: 1px;
    color: #5f6551;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 700;
    padding: 30px 0px 5px 0px;
}
.camping-class-section .camping-item p {
    color: #5f6551;
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 10px;
}
.camping-class-section .camping-item a{
    color: #fff;
    background: #5f6551;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    padding: 3px 23px;
    border: 1px solid #fff;
    border-radius: 30px;
}
.camping-class-section .camping-item a:hover{
    cursor: pointer;
    background: #224360;
    color: #fff;
    transition: .3s linear;
}
/*Camping Classes section css end*/
/*ice Climbing section css start*/
.ice-climbing-section{
    width: 100%;
    background: url(../images/ice-climbing-bg.png) left center no-repeat;
    background-size: cover;
}
.ice-climbing-section .bdr{
    width: 100%;
    border: 1px solid #5f6551;
}
.ice-climbing-section .ice-climbing-left{
    width: 100%;
    padding: 200px 0px 0px 0px;
}
.ice-climbing-section .ice-climbing-left h2 {
    color: #5f6551;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 2px;
}
.ice-climbing-section .ice-climbing-left h3 {
    color: #5f6551;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}
.ice-climbing-section .ice-climbing-left h4 {
    color: #5f6551;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.ice-climbing-section .ice-climbing-right {
    width: 100%;
    text-align: right;
    padding: 145px 0px 245px 0px;
    position: relative;
}
.ice-climbing-section .ice-climbing-right .ice-climbing-right-logo-down {
    float: left;
    margin-left: 80px;
}
.ice-climbing-section .ice-climbing-right h1 {
    color: #5f6551;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 0px 40px 0px 0px;
    margin: 0px;
}
.ice-climbing-section .ice-climbing-right h2 {
    color: #5f6551;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    padding: 20px 40px 5px 0px;
}
.ice-climbing-section .ice-climbing-right p {
    color: #5f6551;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 34px;
    padding-right: 40px;
}
.ice-climbing-section .ice-climbing-right .bdr {
    width: 100%;
    border: 1px solid #5f6551;
    margin: 20px 0px 20px -40px;
}
.ice-climbing-section .ice-climbing-right h3{
    color: #5f6551;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 35px;
    padding-right: 40px;
}
.ice-climbing-section .ice-climbing-right .ice-climbing-logo {
    position: absolute;
    top: 23%;
    right: -10%;
}
.ice-climbing-section .ice-climbing-right .ice-climbing-logo ul li{
    color: #5f6551;
    font-size: 14px;
}
/*ice Climbing section css end*/
/*discount section css start*/
.discount-section{
    width: 100%;
    background: url(../images/discount-1-bg.png) left center no-repeat;
    background-size: cover;
}
.discount-section .discount-left {
    width: 100%;
    padding: 70px 0px 65px 0px;
}
.discount-section .discount-left h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: 2px;
    font-weight: 400;
    padding-top: 10px;
}
.discount-section .discount-left .bdr {
    width: 11%;
    border: 3px solid #fff;
    margin: 16px 0px 16px 0px;
}
.discount-section .discount-left p{
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 3px;
}
.discount-section .discount-right {
    width: 100%;
    padding: 65px 0px 75px 0px;
    position: relative;
}
.discount-section .discount-right h3 {
    color: #fff;
    font-size: 96px;
    font-weight: 400;
    letter-spacing: 1px;
}
.discount-section .discount-right span {
    font-size: 29px;
    font-weight: 400;
    padding-left: 15px;
    letter-spacing: 2px;
}
.discount-section .discount-right p {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
}
.discount-section .discount-right h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.discount-section .discount-right .discount-logo {
    position: absolute;
    top: 31%;
    right: -11%;
}
.discount-section .discount-right .discount-logo ul li {
    color: #fff;
    font-size: 40px;
    line-height: 52px;
}
/*discount section css end*/
/*discount-paragraph-section css start*/
.discount-paragraph-section {
    width: 100%;
    background: url(../images/discount-2-bg.png) left center no-repeat;
    background-size: cover;
    padding: 120px 0px 45px 0px;
}
.discount-paragraph-section .discount-paragraph-inner{
    width: 100%;
    text-align: center;
    position: relative;
    height: 100%;
}
.discount-paragraph-section .discount-paragraph-inner p {
    color: #fff;
    font-size: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 46px;
    font-weight: 400;
}
.discount-paragraph-section .discount-paragraph-inner a {
    color: #3b546d;
    background: #fff;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    padding: 3px 23px;
    border: 1px solid #fff;
    border-radius: 30px;
}
.discount-paragraph-section .discount-paragraph-inner a:hover{
    cursor: pointer;
    background: #224360;
    color: #fff;
    transition: .3s linear
}
.discount-paragraph-section .discount-paragraph-inner .discount-paragraph-logo {
    position: absolute;
    top: 31%;
    right: -6%;
}
.discount-paragraph-section .discount-paragraph-inner .discount-paragraph-logo ul li{
    color: #fff;
    font-size: 40px;
    line-height: 52px;
}
/*discount-paragraph-section css end*/
/*footer section css start */
.footer-section {
    width: 100%;
    padding: 80px 0px 0px 0px;
}
.footer-section .footer-bottom{
    width: 100%;
    padding-bottom: 40px;
}
.footer-section .footer-bottom .ftr-btm-left h2 {
    color: #5f6551;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 5px;
}
.footer-section .footer-bottom .ftr-btm-left p {
    color: #5f6551;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
}
.footer-section .footer-bottom .ftr-btm-left img {
    width: 30%;
}
.footer-section .footer-bottom .ftr-btm-right {
    width: 100%;
    padding: 45px 0px 0px 0px;
}
.footer-section .footer-bottom .ftr-btm-right h4 {
    color: #5f6551;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 10px;
}
.footer-section .footer-bottom .ftr-btm-right ul li {
    color: #5f6551;
    font-size: 15px;
    font-weight: 300;
    padding-top: 5px;
}
.footer-section .footer-end-inner{
    width: 100%;
    color: white;
    padding-top: 15px;
    font-size: 14px;
    letter-spacing: 1px;
    background: #5f6551;
}
.footer-section .footer-end-inner .footer-end-right{
    text-align: right;
}
/*footer section css end */









